
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestAreas</title>
</head>
<body>
    TestArea
    <a href="@Url.Action("Next","TestAreas")">Next</a>
</body>
</html>
