@using Nothing.Web.Common
@using Microsoft.AspNetCore.Http
@using Nothing.Application.Repository
@inject IHttpContextAccessor httpContextAccessor
@inject ILanguageRepository  ILanguge
@{
    var getlab = new GetLab(httpContextAccessor,ILanguge);
}

<div class="panel-body">
    <form id="form-add">
        <div class="form-group">
            <label>Từ khóa</label>
            <input autocomplete="on" type="text" name="Key_Language" class="form-control" placeholder="NT_View_Key">
        </div>
        <div class="form-group">
            <label>Tiếng Việt</label>
            <input autocomplete="on" type="text" name="Language_VN" class="form-control" placeholder="Tiếng Anh">
        </div>
        <div class="form-group">
            <label>Tiếng Anh</label>
            <input autocomplete="on" type="text" name="Language_EN" class="form-control" placeholder="English">
        </div>
        <div class="d-flex justify-content-lg-start">
            <button id="btSaveAdd" type="button" class="btn mb-1 btn-success">
                Thêm<span class="btn-icon-right"><i class="fa fa-check"></i></span>
            </button>
            <button type="button" style="margin-left:10px;" class="btn mb-1 btn-info" ng-click="showPopupTable()">
                @*Trở về*@ @getlab.GetLang("NT_LanguageAdd_LabBack")<span class="btn-icon-right"><i class="fa fa-arrow-left"></i></span>
            </button>
        </div>
    </form>

</div>

<script>
    $('#btSaveAdd').click(function () {
        debugger
        var data = $('#form-add').serialize();
        $.post('Language/Add', data, function (data) {
            $('#table-Language').html(data);
            toastr.success("Thành công");
        });
    });
</script>

