@model List<MenuAdmin>
@using Nothing.Model.Entity
@{ 
    var lsModel = Model;
    var lsMenuParent = lsModel.Where(x=>x.ParentID == 0);
}
<div class="nk-nav-scroll">

    <ul class="metismenu" id="menu">
        @foreach (var item in lsMenuParent)
        {
            var lsMenuChild = lsModel.Where(x => x.ParentID == item.Id_Menu);
            if (lsMenuChild.Count() > 0)
            {
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-grid menu-icon"></i><span class="nav-text">@item.NameMenu</span>
                    </a>
                    @foreach (var itemChild in lsMenuChild)
                    {
                        <ul aria-expanded="false">
                            <li><a href="./ui-accordion.html">@itemChild.NameMenu</a></li>
                        </ul>
                    }
                </li>
            }
            else
            {
                <li>
                    <a href="widgets.html" aria-expanded="false">
                        <i class="icon-badge menu-icon"></i><span class="nav-text">@item.NameMenu</span>
                    </a>
                </li>
            }

        }
        @*<li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-grid menu-icon"></i><span class="nav-text">UI Components</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./ui-accordion.html">Accordion</a></li>
                <li><a href="./ui-alert.html">Alert</a></li>
                <li><a href="./ui-badge.html">Badge</a></li>
            </ul>
        </li>
        <li>
            <a href="widgets.html" aria-expanded="false">
                <i class="icon-badge menu-icon"></i><span class="nav-text">Widget</span>
            </a>
        </li>*@
    </ul>
</div>
